/* for contacts page*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-image: url(../images/mainbackground.jpg);
    background-size: cover;
}

h1 {
    font-family: "Helvetica", sans-serif;
    font-size: 55px;
}

header {
    color: #004F2D;
    font-family: "Helvetica", sans-serif;
}

.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 2px 6px #004F2D;
    max-height: 40px;
}

#search-input {
    border: none;
    border-radius: 25px;
    padding: 7px;
    padding-top: 20px;
    width: 90%;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.search-icon {
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}


#logout-button {
    background-color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    color: #280003;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0px 2px 6px #004F2D;
}
#addContactBtn {
    background-color: #68A691;
    font-family: "Open Sans", sans-serif;
    color: #280003;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0px 2px 6px #004F2D;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 22px;
    
    cursor: pointer;
    color: #888;
}

.small-form-container {
    max-width: 400px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add some padding for spacing */
}



.sortable-header {
    cursor: pointer; /* Add pointer cursor */
}

/* for the add contact modal*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; /* Appear on top of other elements */
}

#contactModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    color: #280003;
    padding: 20px;
    border-radius: 5px;
    z-index: 2; /* Appear on top of overlay */
    box-shadow: 0 4px 8px #004F2D;
}

label, input {
    margin-bottom: 10px;
    display: block;
}

#contactForm input[type="submit"] {
    background-color: #68A691;
}

.highlight {
    background-color: #fff000;
    font-weight: bold;
}

input:valid {
    border: 1px solid green;
}

input:invalid {
    border: 1px solid red;
    background-color: #ffeeee;
}

input:invalid, input:invalid:focus {
    border: 1px solid red;
    background-color: #ffeeee;
}

input:invalid + span.error-message {
    color: red;
    display: block;
    font-size: 8px;
}

.error-message {
    height: 2px;
    display: block;
    width: 100%;
    color: red;
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    right: 0;
}

/* exlamation mark*/
.error-message:not(:empty)::before {
    content: "!";
    color: white;
    background-color: red;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    line-height: 16px;
    margin-right: 5px;
    font-size: 12px;
}

#editFirstNameError, #editLastNameError, #editPhoneError, #editEmailError{
    color: red;
    font-size: 10px;
}

/*tried to make the add contact form not red*/
input.error {
    border: 1px solid red;
    background-color: #ffeeee;
}
/*
input.error:focus {
    border: 1px solid red;
    background-color: #ffeeee;
}

span.error-message {
    color: red;
    display: none; Hide error messages by default 
    font-size: 12px;
 }

input.error + span.error-message {
    display: block;
    font-size: 12px;
}  */

.stylish-label label.aligned-label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    line-height: 1.5;
    vertical-align: middle;
}

.stylish-label input.aligned-input {
    vertical-align: middle; 
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}

#contactList tr:nth-child(odd) {
    background-color: #ffffff;
}

#contactList tr:nth-child(even) {
    background-color: #f2f2f2;
}

<<<<<<< Updated upstream
=======
.table {
    /*background-color: #F0F0F0;*/
    font-family: "Open sans", sans-serif;
    font-size: 14px;
}

.table th{
    background-color: #BFD3C1;
    color: #190028;
    font-size: medium;
    position: sticky;
    top: 0;
}

.table th, .table td {
    padding-top: 10px;    /* Adjust the top padding value as needed */
    padding-bottom: 10px; /* Adjust the bottom padding value as needed */
    padding-left: 2vw;    /* Adjust the left padding value as needed */
}

>>>>>>> Stashed changes
.edit-icon {
    margin-right: 100px;
}

<<<<<<< Updated upstream
.table tbody tr:hover {
    transform: scale(1.02); 
    transition: transform .2s ease-in-out;
    z-index: 1; 
=======
.table tbody tr {
    transition: transform 0.2s ease-in-out;
}

.table tbody tr:hover {
    transform: scaleX(1.02);
    z-index: 1;
>>>>>>> Stashed changes
}

.table tbody tr td i {
    opacity: 0;
<<<<<<< Updated upstream
    transition: opacity .2s ease-in-out;
=======
    transition: opacity .1s ease-in-out;
    cursor: pointer;
>>>>>>> Stashed changes
}

.table tbody tr:hover td i {
    opacity: 1;
}