@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Croissant+One&family=Mooli&family=Open+Sans&display=swap');
body {
  background-image: url(mainbackground.jpg);
  background-size: cover;
}

.rounded-frame {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  border-radius: 25px;
  padding: 2em;
  background-color: transparent;
  overflow: hidden;
  max-width: 400px;

  max-width: 1000px;
  width: 100%;

  height: 650px;

  display: flex;
}

.rounded-frame-half {
  flex: 1;
  padding: 20px;
  box-shadow: 0 0 20px #004F2D;
}

.rounded-frame-half:first-child {
  background-color: #68A691;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.rounded-frame-half:last-child {
  background-image: url(bug.jpeg);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.handwritten {
  font-family: 'Open Sans', sans-serif;
}

.wide-btn {
  width: 100%;
  padding: .5rem 1rem;
}

.custom-color-btn {
  background-color: #004F2D;
  border-color: #6D8FB7;
}

.custom-color-btn:hover,
.custom-color-btn:focus,
.custom-color-btn:active {
  background-color: #BFD3C1;
  border-color: transparent;
}

.error-message {
  color: #280003;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.form-label{
  font-size: 18px;
  color: #280003;
}

.col-form-label {
  color: #280003;
  text-align: left;
}

h2 {
  font-weight: bold;
}

#signUpForm label {
  margin-left: 0px;
}

/* input:invalid {
  border: 1px solid red;
  background-color: #ffeeee;
} */

/* input:invalid:not(:placeholder-shown) {
  border: 1px solid red;
  background-color: #ffeeee;
} */

input:invalid + span.error-message {
  color: red;
  display: block;
  font-size: 12px;
}

.normal {
  border: 1px solid #ccc;
  background-color: #fff;
}
/* #FFE7FF */
